@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(../fonts/notosans-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/notosans-bold.woff2) format("woff2");
}

/* z-index
-------------------------- */
/* font-weight
-------------------------- */
/* font-size
-------------------------- */
/* title-font-size
-------------------------- */
/* normal-color
-------------------------- */
/* transition
-------------------------- */
/* font-family
-------------------------- */
body#light {
  --app-background-color: #fff;
  --app-background-color-light: white;
  --primary-light-0: white;
  --font-color-primary: #161b3d;
  --font-color-article: #666;
  --font-color-light: #999;
  --font-color-dark: #161b3d;
  --theme-active: #2821fc;
  --border-color: #dcdfe7;
  --tool-background-color: #dcdfe7;
  --tag-color: #f4f4f4;
  --code-background: #f7f7f7;
  --link-color: #75bfd7;
}

body#dark {
  --app-background-color: #282c35;
  --app-background-color-light: #2f333e;
  --primary-light-0: #333844;
  --font-color-primary: #c0c0c0;
  --font-color-article: #c0c0c0;
  --font-color-light: #999;
  --font-color-dark: #d3d3d3;
  --theme-active: #75bfd7;
  --border-color: #545c6f;
  --tool-background-color: #545c6f;
  --tag-color: #333844;
  --code-background: #21252c;
  --link-color: #75bfd7;
}

@font-face {
  font-family: 'iconfont';
  /* project id 1194998 */
  src: url("//at.alicdn.com/t/font_1194998_iiq5gp08d9.eot");
  src: url("//at.alicdn.com/t/font_1194998_iiq5gp08d9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1194998_iiq5gp08d9.woff2") format("woff2"), url("//at.alicdn.com/t/font_1194998_iiq5gp08d9.woff") format("woff"), url("//at.alicdn.com/t/font_1194998_iiq5gp08d9.ttf") format("truetype"), url("//at.alicdn.com/t/font_1194998_iiq5gp08d9.svg#iconfont") format("svg");
}

.icon {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dark:before {
  content: "\e74d";
}

.icon-light:before {
  content: "\e74a";
}

.icon-planet:before {
  content: "\e74e";
}

.icon-search:before {
  content: "\e718";
}

.icon-arroba:before {
  content: "\e6ff";
}

.icon-github:before {
  content: "\e608";
}

.icon-close:before {
  content: "\e621";
}

.icon-post:before {
  content: "\e602";
}

.icon-message:before {
  content: "\e668";
}

.icon-about:before {
  content: "\e661";
}

.icon-tag:before {
  content: "\e6c2";
}

.icon-cloud:before {
  content: "\e62a";
}

.icon-facebook:before {
  content: "\e601";
}

.icon-weibo:before {
  content: "\e606";
}

.icon-mail:before {
  content: "\e609";
}

.icon-wechat:before {
  content: "\e636";
}

.icon-site:before {
  content: "\e603";
}

.icon-qq:before {
  content: "\e607";
}

.icon-recommend:before {
  content: "\e633";
}

.icon-smile:before {
  content: "\e783";
}

.icon-image:before {
  content: "\e7de";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-send:before {
  content: "\e916";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-reply:before {
  content: "\e78a";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-ant-close:before {
  content: "\e7fd";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-message-fill:before {
  content: "\e84a";
}

.icon-up:before {
  content: "\e7eb";
}

.icon-tags-fill:before {
  content: "\e86e";
}

.icon-star-fill:before {
  content: "\e86a";
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #00c4b6;
  color: #f7f7f7;
}

::selection {
  background: #00c4b6;
  color: #f7f7f7;
}

html {
  font-size: 16px;
}

@media (max-width: 479px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--font-color-primary);
  background-color: var(--app-background-color);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

a {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  color: var(--font-color-primary);
}

a:visited {
  color: var(--font-color-primary);
}

html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

img {
  max-width: 100%;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(100, 100, 100, 0.4);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

/* 标题大小
-------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

@media (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 11px;
  }
}

.markdown {
  font-size: 15px;
}

@media (max-width: 479px) {
  .markdown {
    font-size: 14px;
  }
}

.markdown pre {
  margin: .5em 0;
  padding: 1em;
  font-size: 85%;
  border-radius: 5px;
  background-color: var(--code-background);
  overflow-x: auto;
}

.markdown code {
  margin: 0 .2em;
  padding: .1em .2em;
  background-color: var(--code-background);
  font-family: Roboto Mono, Monaco, courier, monospace;
}

.markdown p {
  margin: 1em 0;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 1em 0;
  line-height: 1;
}

.markdown a {
  margin: 0 .3em;
  color: var(--link-color);
}

.markdown blockquote {
  padding: 0 1em;
  border-left: 0.25em solid var(--border-color);
}

.markdown blockquote p {
  text-indent: 0rem;
}

.markdown blockquote p:first-child {
  margin-top: 0;
}

.markdown blockquote p:last-child {
  margin-bottom: 0;
}

.markdown ul {
  margin: 1em 0;
  padding-left: 2em;
}

.markdown ul li {
  padding: .3em;
  list-style: disc;
}

.markdown ol {
  margin: 1em 0;
  padding-left: 2em;
}

.markdown ol li {
  padding: .3em;
  list-style: decimal;
}

.markdown .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5em 0;
  width: 100%;
}

.markdown .image-wrapper .progress-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 0 1em;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.markdown .image-wrapper .progress-image img {
  border-radius: 4px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.markdown .image-wrapper .progress-image .thumbnail {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.markdown .image-wrapper .progress-image .real-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 0;
  padding: 0 1em;
}

.markdown .image-wrapper .progress-image .loaded {
  opacity: 1;
}

.markdown .image-wrapper .progress-image .hidden {
  opacity: 0;
}

.markdown .image-wrapper .image-caption {
  margin-top: 1em;
  text-align: center;
}

.markdown .image-wrapper .image-caption > span {
  display: inline-block;
  padding: .1em .3em;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}

.gutter pre {
  color: #999;
}

pre .hljs-function .hljs-keyword,
pre .hljs-constant {
  color: #0092db;
}

pre .hljs-keyword,
pre .hljs-attribute {
  color: #e96900;
}

pre .hljs-name, pre .hljs-tag {
  color: #ff79c6;
  font-weight: 400;
}

pre .hljs-number,
pre .hljs-literal {
  color: #AE81FF;
}

pre .hljs-tag,
pre .hljs-tag .hljs-title,
pre .hljs-change,
pre .hljs-winutils,
pre .hljs-flow,
pre .hljs-lisp .hljs-title,
pre .hljs-clojure .hljs-built_in,
pre .hljs-nginx .hljs-title,
pre .hljs-tex .hljs-special {
  color: #2973b7;
}

pre .hljs-class .hljs-title {
  color: green;
}

pre .hljs-symbol,
pre .hljs-symbol .hljs-string,
pre .hljs-value,
pre .hljs-regexp {
  color: #42b983;
}

pre .hljs-title {
  color: #A6E22E;
}

pre .hljs-tag .hljs-value,
pre .hljs-string,
pre .hljs-subst,
pre .hljs-haskell .hljs-type,
pre .hljs-preprocessor,
pre .hljs-ruby .hljs-class .hljs-parent,
pre .hljs-built_in,
pre .hljs-sql .hljs-aggregate,
pre .hljs-django .hljs-template_tag,
pre .hljs-django .hljs-variable,
pre .hljs-smalltalk .hljs-class,
pre .hljs-javadoc,
pre .hljs-django .hljs-filter .hljs-argument,
pre .hljs-smalltalk .hljs-localvars,
pre .hljs-smalltalk .hljs-array,
pre .hljs-attr_selector,
pre .hljs-pseudo,
pre .hljs-addition,
pre .hljs-stream,
pre .hljs-envvar,
pre .hljs-apache .hljs-tag,
pre .hljs-apache .hljs-cbracket,
pre .hljs-tex .hljs-command,
pre .hljs-prompt {
  color: #42b983;
}

pre .hljs-comment,
pre .hljs-java .hljs-annotation,
pre .hljs-python .hljs-decorator,
pre .hljs-template_comment,
pre .hljs-pi,
pre .hljs-doctype,
pre .hljs-deletion,
pre .hljs-shebang,
pre .hljs-apache .hljs-sqbracket,
pre .hljs-tex .hljs-formula {
  color: #939393;
}

pre .hljs-coffeescript .hljs-javascript,
pre .hljs-javascript .hljs-xml,
pre .hljs-tex .hljs-formula,
pre .hljs-xml .hljs-javascript,
pre .hljs-xml .hljs-vbscript,
pre .hljs-xml .hljs-css,
pre .hljs-xml .hljs-cdata {
  opacity: .5;
}
/*# sourceMappingURL=index.css.map */